[submodule "minnie-test-import-data-script"]
	path = minnie-test-import-data-script
	url = https://github.com/soberservicesguy/minnie-test-import-data-script.git
[submodule "minnie-test-backend"]
	path = minnie-test-backend
	url = https://github.com/soberservicesguy/minnie-test-backend.git
[submodule "minnie-test-frontend"]
	path = minnie-test-frontend
	url = https://github.com/soberservicesguy/minnie-test-frontend
